@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

html, body, .root, .app {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
.app {
  min-height: 100vh;
}
body {
  line-height: 1.5;
  background: #313131;
}

/* main page */

header {
  padding: 22px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

header h1 {
  margin: 0;
  color: white;
}

.header-theme-selector {
  display: none;
}

.logo {
  display: flex;
}

header #reads {
  color: #BD00FF;
}

.theme-and-search {
  display: flex;
}

.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-3 {
  background: #BD00FF;
  color: #fff;
}

.btn-3e {
	padding: 16px 80px 16px 24px;
	overflow: hidden;
}

.btn-3e:before {
	left: auto;
	right: 10px;
	z-index: 2;
}

.btn-3e:after {
	width: 30%;
	height: 200%;
	background: rgba(255,255,255,0.1);
	z-index: 1;
	right: 0;
	top: 0;
	margin: -5px 0 0 -5px;
	-webkit-transform-origin: 0 0;
	-webkit-transform: rotate(-20deg);
	-moz-transform-origin: 0 0;
	-moz-transform: rotate(-20deg);
	-ms-transform-origin: 0 0;
	-ms-transform: rotate(-20deg);
	transform-origin: 0 0;
	transform: rotate(-20deg);
}

.btn-3e:hover:after {
	width: 40%;
}

.search-icon {
  position: absolute;
  right: 10%;
  bottom: 22%;
}

.open-search, .open-search a {
  display: none;
}

.list-books-content {
  padding: 22px;
  flex: 1;
}

.bookshelf-title {  
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.3em;
}

.bookshelf-books {
  text-align: center;
}

.card-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 189px;
  margin: 22px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
}

.card-onshelf {
  box-shadow: 0px 20px 30px 3px rgba(189, 0, 255, 0.55);
}

.card-left {
  overflow: hidden;
  background: transparent;
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
}

.card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  height: 189px;
  margin: 0;
  padding: 8px;
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
}

.card-right h1,
.card-right h2 {
  margin: 0;
  letter-spacing: 1px;
}

.card-right h1 {
  font-size: .9em;
}

.card-right h2 {
  font-weight: 300;
  font-size: .75em;
}

.card-right-headers h1,
.card-right-headers h2,
.card-right-details ul {
  text-align: left;
}

.card-right-details ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card-right-details ul li {
  display: inline;
  font-weight: 300;
  font-size: .7em;
  padding: 0 8px 0 0;
}

.onShelf {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: .8em;
}

.card-right-cta-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dd {
  color: rgba(189, 0, 255, 1);
  background: transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: .8em;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  
}
.dd:hover {
  text-decoration: none;
}

.dd-btn {
  border: 0 solid;
  padding: 4px 30px 4px 4px;
  box-shadow: inset 0 0 20px rgba(189, 0, 255, 0);
  outline: 1px solid;
  outline-color: rgba(189, 0, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.dd-btn:hover {
  box-shadow: inset 0 0 20px rgba(189, 0, 255, 0.5), 0 0 20px rgba(189, 0, 255, 0.2);
  outline-color: rgba(189, 0, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #bd00ff;
}

.dd-list {
  position: absolute;
  margin: 0;
  padding: 8px;
  font-weight: 300;
  text-align: center;
  border-radius: 5%;
  font-size: .8em;
  list-style-type: none;
}

.dd-list-item {
  cursor: pointer;
}

.arrow {
  position: absolute;
  right: 10%;
  bottom: 10%;
}

#readmore {
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  font-size: .8em;
  font-size: 14px;
  color: #BD00FF;
}

/* search page */

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}
.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-books-results {
  padding: 80px 10px 20px;
}

.loader {
  text-align: center;
}

footer {
  padding: 12px;
}

.footer-content {
  display: flex;  
  justify-content: space-between;
}

.footer-content p {
  font-weight: 300;
  font-size: .9em;
}

.footer-theme-selector {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-theme-selector-p {
  margin-right: 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #BD00FF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #BD00FF;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* MODAL STYLES HERE */

.ReactModal__Overlay {
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 350ms ease-in-out;
}

.modal-container {
  display: flex;
  flex-direction: column;
}

.modal-upper {
  display: flex;
}

.modal-upper h2,
.modal-upper p {
  margin: 0;
  padding: 0;
}

.modal-upper h2 {
  color: rgba(255, 255, 255, 0.90);
}

.modal-upper p {
  color: rgba(255, 255, 255, 0.80);
}

.modal-upper-content {
  display: flex;
  flex-direction: column;
}

.modal-upper-content-titles {
  display: flex;
}

.modal-lower {
  overflow-y: auto;
}